/error.c
/mock_com_util_etw_provider_dispose_on_unload.cc
/mock_com_util_syslog_sink_dispose_on_unload.cc
/mock_com_util_trace_file_sink_dispose_on_unload.cc
/path_name.c
/result.c
/shutdown.c
/trace_common.c
/tracer.c
